@tailwind base;
@tailwind components;
@tailwind utilities;

  body{
    font-family: 'WoodfordBournePRO';
}
.ant-pagination-item{background-color: red;}
.ant-drawer-body{padding: 0!important;}


.subCategary:hover {
  border: 2.5px solid #214344;
  transform: scale(1.1);


}
.subCategary:hover img{
  filter: blur(4px);
}

